@page "/contract"
@inherits Pages.IndexBase
@using Pages.Bases;
@using Models;

<h1>VOTINGS</h1>

<div class="main column">
    <div class="row">
        <div class="btn btn-primary" @onclick="OnCreateBtnClick">Create voting</div>

        <div class="btn btn-secondary" @onclick="OnGetVotingsBtnClick">Get all votings</div>
    </div>

    @if (Votings is not null)
    {
        <ul class="voting-list">

            @for (int i = 0; i < Votings.Count; i++)
            {
                int index = i;
                <li class="row align-items-center">
                    <div>

                        <a href="" @onclick=@(()=>
                                              {
                                                  State.Voting = Votings[index];
                                                  NavManager.NavigateTo($"/voting?id={index}&contract={ContractAddress}&isVotingOver={Votings[index].VotingStatus == (int)VotingStatus.Finished}&winnerProposal={Votings[index].WinnerProposal}");
                                              }) @onclick:preventDefault>
                            @index
                        </a>
                        @*Votings[index].WinnerProposal is null ? "" :  $""*@
                        <ul>
                            <li>Status: @((VotingStatus)Votings[index].VotingStatus)</li>
                            <li>Start: @(DateTimeOffset.FromUnixTimeSeconds(Votings[index].CreationTimestamp).DateTime.ToString())</li>
                            <li>End: @(DateTimeOffset.FromUnixTimeSeconds(Votings[index].Duration + Votings[index].CreationTimestamp).DateTime.ToString()) </li>
                            <li>Count of Proposals: @Votings[index].ProposalsCount</li>

                            @if (Votings[index].VotingStatus == (int)VotingStatus.Finished)
                            {
                                <li style="color:forestgreen">
                                    Winner proposal is:
                                    @if (Votings[index].WinnerProposal is not null)
                                    {
                                        <b>@Votings[index].WinnerProposal</b>
                                    }
                                    else
                                    {
                                        <span>Loading...</span>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                    @if (Votings[index].VotingStatus != (int)VotingStatus.Finished)
                    {

                        <div>
                            <button class="btn btn-outline-secondary" @onclick="@(async ()=>await OnEndVotingsBtnClick(index))">
                                End Voting
                            </button>
                        </div>
                    }

                </li>

            }

        </ul>
    }
</div>

