@page "/voting"
@inherits Bases.VotingBase

<h1>Voting @VotingId</h1>


@if (IsVotingOver)
{

    <h3 style="color:red">THIS VOTING IS OVER!</h3>
}
else if (IsVoted)
{
    <h3 style="color:red">YOU ALREADY VOTED!</h3>
}

@if (Proposals != null)
{
    <table>
        <thead>
            <tr>
                <th scope="col">
                    Proposal Name
                </th>
                <th scope="col">
                    Votes count
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var prop in Proposals)
            {
                <tr>
                    <td>
                        @prop.Proposal
                    </td>

                    <td>
                        @prop.VotingCount
                    </td>

                    <td>
                        @if (!IsVoted && !IsVotingOver && EndTimestamp > DateTimeOffset.Now)
                        {
                            <button class="btn btn-outline-primary" @onclick="@(async () => await OnVoteClick(prop.Proposal))">Vote</button>
                        }
                    </td>

                </tr>
            }


        </tbody>

    </table>
    if (WinnerProposal is not null && IsVotingOver)
    {
        <h3 style="color:green">Winner proposal is: @WinnerProposal</h3>
    }
    else if (EndTimestamp < DateTimeOffset.Now)
    {
        <div style="color:brown">Voting time is over, but it`s not finished yet</div>

        <button class="btn btn-outline-secondary" @onclick="(async () => await OnEndVotingsBtnClick())">End Voting</button>
    }
    else
    {
        <div style="color:cornflowerblue">Voting in progress</div>
    }

}
else
{
    <span>Loading...</span>
}
